VStudioMfc.lcdui/Debug/
VStudioMfc.lcdui/LCDUI_VStudioMfc.opensdf
VStudioMfc.lcdui/LCDUI_VStudioMfc.sdf
VStudioMfc.lcdui/LCDUI_VStudioMfc.v12.suo
VStudioMfc.lcdui/VStudioMfc.v12.suo
VStudioMfc.lcdui/stdafx.pch
VStudioMfc/Debug/
VStudioMfc/LCDUI_VStudioMfc.aps
VStudioMfc/LCDUI_VStudioMfc.sdf
VStudioMfc/LCDUI_VStudioMfc.v12.suo
VStudioMfc/LCDUI_VStudioMfc.vcxproj.user
.gitignore
VStudioMfc/ipch/lcdui_vstudiomfc-fc367587/vc120.ipch
VStudioMfc/stdafx.pch
VStudioMfc/.vs/
.gitignore
VStudioMfc/VStudioMfc.sdf
VStudioMfc/*.opensdf
VStudioMfc/VStudioMfc.opensdf
VStudio/Debug
VStudio/.vs
VStudio/ipch
*.sdf
*.pch
*.suo
*.opendb
VStudio/old
VStudio/*.db
VStudio/x64
VStudio/*.user
VStudio/*.filters
VStudio/Project/x64
*.filters
*.user
*.log
