VStudioMfc.lcdui/Debug/
VStudioMfc.lcdui/LCDUI_VStudioMfc.opensdf
VStudioMfc.lcdui/LCDUI_VStudioMfc.sdf
VStudioMfc.lcdui/LCDUI_VStudioMfc.v12.suo
VStudioMfc.lcdui/VStudioMfc.v12.suo
VStudioMfc.lcdui/stdafx.pch
